nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}
nav a
#hero-msg h1, #hero-msg h4
.button-box
main section
p {
    margin: 35px;
    }

div.a {
    text-align: center;
    }
    
    div.b {
    text-align: left;
    }
    
    div.c {
    text-align: right;
    }
    
    div.c {
    text-align: justify;
    }
    